.directory-menu {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .directory-menu {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}