html,
body {
    height: 100%;
    position: relative;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 100px;
}